.gradient-text {
    background-image: linear-gradient(
        to right,
        #15830d,
        #0b9820,
        #5fdc43,
        #3fbc5c,
        #1b8a1b,
        #2be02e,
        #e4d9b4
    );
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent; /* Hide the original text */
    background-size: 300% 300%;
}
